body {
    background-color: #ffffff;
}

.server-card {
    width: 25rem;
    margin:0 auto;
    margin-top: 20px;
}

.login-form {
    margin-bottom: 0;
}

.container > .btn {
    margin-top: 20px;
}