body {
    background-color: #ffffff;
}

.toolbar-row {
    margin-top: 10px;
}
.server-card {
    width: 70%;
    margin:0 auto;
    margin-top: 20px;
}

.login-form {
    margin-bottom: 0;
}

.container > .btn {
    margin-top: 20px;
}

.border-danger .card-header {
    color: red;
}

.border-success .card-header {
    color: green;
}