body {
    background-color: #ffffff;
    min-height: 100vh;
}

.jumbotron img {
    width: 50%;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.toolbar-row {
    margin-top: 10px;
}
.server-card {
    width: 70%;
    margin:0 auto;
    margin-top: 20px;
}

.login-form {
    margin-bottom: 0;
}

.container > .btn {
    margin-top: 20px;
}

.border-danger .card-header {
    color: red;
}

.border-success .card-header {
    color: green;
}

footer {
    height: 60px;
}
