<!doctype html>
<head>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js" integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js" integrity="sha256-MZo5XY1Ah7Z2Aui4/alkfeiq3CopMdV/bbkc/Sh41+s=" crossorigin="anonymous"></script>
  <title>{% block title %}{% endblock %} - Monitaur</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>

<body class="d-flex flex-column">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Monitaur</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <!-- Could add more navbar items here. This is a placeholder for content justification -->
        <a class="nav-item nav-link disabled" href="#"></a>
      </div>
      <div class="navbar-nav">
        {% if g.user %}
          <a class="nav-item nav-link dropdown-toggle" href="#" id="loggedInUserDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ g.user['username'] }}</a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="loggedInUserDropDown">
            <a class="dropdown-item" href="{{ url_for('auth.logout') }}">Log Out</a>
          </div>
        {% else %}
            <div>
              <form action="{{ url_for('auth.login') }}" method="post">
                <div class="form-row">
                  <div class="form-group col-md-4 login-form">
                    <input type="text" class="form-control" placeholder="Enter Username" name="username">
                  </div>
                  <div class="form-group col-md-4 login-form">
                    <input type="password" class="form-control" placeholder="Password" name="password">
                  </div>
                  <div class="form-group col-md-4 login-form">
                    <button class="btn btn-primary" type="submit">Login</button>
                  </div>
                </div>
              </form>
            </div>
        {% endif %}
      </div>
    </div>

</nav>

<div class="container">
  {% for message in get_flashed_messages() %}
    <div class="alert alert-danger" role="alert">
      <strong>Incorrect login credentials!</strong>
        {{message}}
    </div>
  {% endfor %}
  {% block content %}{% endblock %}

</div>

<footer class="bg-dark">
  <p class="text-muted">
    Monitaur (2019)
  </p>
</footer>

</body>