{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Servers{% endblock %}</h1>
{% endblock %}

{% block content %}

<div class="container" id="servers-section">

    {% for server in server_list %}
        <div class="card server-card">
            <h5 class="card-header">{{server['name']}}</h5>
            <div class="card-body">
              <h5 class="card-title">TODO</h5>
              <p class="card-text">More TODO</p>
              <a href="#" class="btn btn-primary" onclick="info_click();">More Info</a>
            </div>
        </div>
    {% endfor %}
    </div>

<script>

    function info_click() {
        console.log("safdasfd!!");
    }

</script>

{% endblock %}
