{% extends 'base.html' %}

{% block header %}
  {% block title %}{{server_name}} - Services{% endblock %}
{% endblock %}

{% block content %}

<div class="container-fluid">

    <!-- Tool bar -->
    <div class="row">
        <div class="col-md-6">
            <h2>{{server_name}}'s registered services</h2>
        </div>
        <div class="col-md-6">
            <div class="btn-group float-right mt-2" role="group">
                <button type="button" class="btn btn-secondary btn-md" data-toggle="modal" data-target="#registerNewServerModal">
                    <i class="fa fa-plus fa-sm" aria-hidden="true"></i>
                    Register
                </button>
                <button type="button" class="btn btn-secondary btn-md" onclick="refresh_services();">
                    <i class="fas fa-sync fa-sm"></i>
                    Refresh
                </button>
            </div>
        </div>
    </div>

    <!-- Register new service modal -->
    <!-- TODO: Refactor this -->
    <div class="modal fade" id="registerNewServerModal" tabindex="-1" role="dialog" aria-labelledby="registerNewServerModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="registerNewServerModalLabel">Register new service</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" id="register-new-server-modal">
                <form id="register-new-server-form" method="POST">
                    <div class="form-group">
                        <label for="registering-server-name">Name</label>
                        <input class="form-control" id="registering-server-name" placeholder="Enter name">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary" onclick="register_new_service();">Save</button>
            </div>
          </div>
        </div>
    </div>

    <!-- Remove service modal -->
    <!-- TODO: Refactor this -->
    <div class="modal fade" id="removeServerModal" tabindex="-1" role="dialog" aria-labelledby="removeServerModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="removeServerModalLabel">Remove server</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" id="remove-server-modal">
                <form id="remove-server-form" method="POST">
                    <div class="form-group">
                        <label for="remove-server-name">Are you sure that you would like to remove this server? If you are, please type in the name of the server to verify.</label>
                        <input class="form-control" id="remove-server-name" placeholder="Server name">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-danger" onclick="remove_server();">Remove</button>
            </div>
          </div>
        </div>
    </div>

    <!-- Service list -->
    <div class="table-responsive" id="services-section">
        <table class="table table-sm table-striped table-hover">
            <thead class="">
                <th scope="col"></th>
                <th scope="col">Name</th>
                <th scope="col">ID</th>
                <th scope="col">Last seen</th>
                <th scope="col"></th>
            </thead>
            <tbody id="services-section-body">

            </tbody>
        </table>
    </div>
</div>

<script>

    var TIMEOUT = 5;

    $(document).ready(function() {
        // TODO: Clean up
        $("#registerNewServerModal").on("hidden.bs.modal", function(){
            $('#registering-server-name').val("");
            $("#register-new-server-alert-danger").remove();
        });

        $("#removeServerModal").on("hidden.bs.modal", function(){
            $('#remove-server-name').val("");
            $("#remove-server-alert").remove();
        });

        $('[data-toggle="tooltip"]').tooltip()

        refresh_services();
    });

    function service_copy_url(id) {
        // TODO: pass this url from the backend
        var url_selected = "https://monitaur.neilcastelino.com/services/" + id.split("-").slice(2,7).join("-") + "/ping"
        var temp = $('<input>').val(url_selected).appendTo('body').select()
        document.execCommand("copy");
        temp.remove();
    }

    function add_service_to_table(data) {
        var modifier = {}
        modifier['last'] = data.last_seen == 0 ? "Never" : Math.floor(((Date.now()/1000) - data.last_seen)/60) + " minutes ago"
        modifier['last_n'] = ((Date.now()/1000) - data.last_seen)/60
        modifier['status_icon'] =  modifier['last_n'] > TIMEOUT ? '<i class="fas fa-exclamation-circle"></i>' : '<i class="fas fa-check-circle"></i>'

        $("<tr>")
            .attr("style", (modifier['last_n'] > TIMEOUT ? "color:red;" : "color:green;"))
            .append($("<td>").html(modifier['status_icon']))
            .append($("<td>").text(data.name))
            .append($("<td>")
                .append($("<button>")
                    .addClass("btn btn-outline-primary btn-sm")
                    .attr("id", "service-copy-"+data.id)
                    .attr("type", "button")
                    .attr("data-toggle", "tooltip")
                    .attr("data-placement", "top")
                    .attr("title", "Copy URL to clipboard")
                    .html('<i class="fas fa-copy"></i>  ')
                    .attr("onclick", 'service_copy_url(this.id);')
                )
                .append("   " + data.id)
            )
            .append($("<td>").text(modifier['last']))
            .append($("<td>")
                .append(
                    $("<div>")
                    .append($("<button>").addClass("table-button btn btn-primary")
                        .html('<i class="fas fa-cog"></i> Edit')
                    )
                )
            )
            .appendTo($("#services-section-body"))
    }

    function register_new_service() {
        // Make sure that the input is not empty
        // TODO: refactor AND fix naming (server -> service) after refactoring
        if($.trim($("#registering-server-name").val()) == '') {
            show_alert( "alert alert-danger",
                        "register-new-server-alert-danger",
                        "The name field can't be empty.",
                        "#register-new-server-modal"
            );

            return;
        }

        var data = {};
        data['registering-service-name'] = $("#registering-server-name").val(); // TODO: fix name

        var post_url = "{{url_for('services.new_service', id='server_id')}}"
        post_url = post_url.replace(/server_id/, '{{server_id}}');

        $.post(post_url, data)
            .done(function(response) {
                if(response.err != "") {
                    $("#register-new-server-alert-danger").remove();
                    $("<div>").addClass("alert alert-danger")
                        .attr("role", "alert")
                        .attr("id", "register-new-server-alert-danger")
                        .text(response.err)
                        .appendTo("#register-new-server-modal");
                } else {
                    refresh_services(response);
                    $('#registerNewServerModal').modal('hide');
                }
            })
            .fail(function(error) {
                console.log(error);
                show_alert( "alert alert-danger",
                    "register-new-server-alert-danger",
                    "Server returned error.", //TODO
                    "#register-new-server-modal"
                );
            })
    }

    function refresh_services() {
        $("#services-section-body").empty();

        var get_url = "{{url_for('services.get_services', id='server_id')}}"
        get_url = get_url.replace(/server_id/, '{{server_id}}');

        $.get(get_url)
            .done(function(response) {
                json_data = JSON.parse(response)
                $.each(json_data, function(i) {
                    console.log(json_data[i])
                    add_service_to_table(json_data[i])
                });
            })
            .fail(function(response) {
                // TODO: Something useful here
                console.log("get error")
                console.log(response)
            });
    }

</script>

{% endblock %}
