{% extends 'base.html' %}

{% block header %}
  {% block title %}Servers{% endblock %}
{% endblock %}

{% block content %}

<button type="button" class="btn btn-primary" onclick="refresh_servers();">Refresh</button>

<div class="container" id="servers-section">

    {% for server in server_list %}
        <div class="card server-card">
            <a class="btn card-header text-left" data-toggle="collapse" href="#collapse-{{server['name']}}" role="button" aria-expanded="false">{{server['name']}}</a>
            <div class="card-body collapse" id="collapse-{{server['name']}}">
              <h5 class="card-title">TODO</h5>
              <p class="card-text">More TODO</p>
              <a href="#" class="btn btn-primary" onclick="info_click();">More Info</a>
            </div>
        </div>
    {% endfor %}
    </div>

<script>

    var data = [
        {
            "name": "cool-name1",
        },
        {
            "name": "lol",
        },
    ];

    function info_click() {
        console.log("safdasfd!!");
    }

    function refresh_servers() {
        if (data != null) {
            $("#servers-section").empty();

            $.each(data, function(i) {
                $("<div>").addClass("card server-card")
                    .append($("<h5>").addClass("card-header")
                        .text(data[i].name)
                    )
                    .append($("<div>").addClass("card-body")
                        .append($("<h5>").addClass("card-title")
                            .text("TODO-TEXT")
                        )
                        .append($("<p>").addClass("card-text")
                            .text("TODO-p-TEXT")
                        )
                        .append($("<a>").addClass("btn btn-primary")
                            .text("More Info")
                            .attr("onclick", 'info_click()')
                            .attr("href", "#")
                        )
                    )
                    .appendTo("#servers-section");
            });
        }
    }

</script>

{% endblock %}
