{% extends 'base.html' %}

{% block header %}
  {% block title %}Servers{% endblock %}
{% endblock %}

{% block content %}

<div class="container-fluid">

    <!-- Tool bar -->
    <section class="row">
        <div class="col-md-6 toolbar-row">
            <h2>Server list</h2>
        </div>
        <div class="col-md-6">
            <div class="btn-group float-right mt-2" role="group">
                <button type="button" class="btn btn-secondary btn-md" data-toggle="modal" data-target="#registerNewServerModal">
                    <i class="fa fa-plus fa-sm" aria-hidden="true"></i>
                    Register
                </button>
                <button type="button" class="btn btn-secondary btn-md" onclick="refresh_servers();">
                    <i class="fas fa-sync fa-sm"></i>
                    Refresh
                </button>
            </div>
        </div>
    </section>

    <hr/>

    <!-- Register new server modal -->
    <div class="modal fade" id="registerNewServerModal" tabindex="-1" role="dialog" aria-labelledby="registerNewServerModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="registerNewServerModalLabel">Register new server</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" id="register-new-server-modal">
                <form id="register-new-server-form" action="javascript:register_new_server()" method="POST">
                    <div class="form-group">
                        <label for="registering-server-name">Name</label>
                        <input class="form-control" id="registering-server-name" placeholder="Enter name">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary" onclick="register_new_server();">Save</button>
            </div>
          </div>
        </div>
    </div>

    <!-- Remove server modal -->
    <div class="modal fade" id="removeServerModal" tabindex="-1" role="dialog" aria-labelledby="removeServerModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="removeServerModalLabel">Remove server</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" id="remove-server-modal">
                <form id="remove-server-form" action="javascript:remove_server()" method="POST">
                    <div class="form-group">
                        <label for="remove-server-name">Are you sure that you would like to remove this server? If you are, please type in the name of the server to verify.</label>
                        <input class="form-control" id="remove-server-name" placeholder="Server name">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-danger" onclick="remove_server();">Remove</button>
            </div>
          </div>
        </div>
    </div>

    <!-- Rename server modal -->
    <div class="modal fade" id="renameServerModal" tabindex="-1" role="dialog" aria-labelledby="renameServerModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="renameServerModalLabel">Rename server</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="rename-server-modal">
                <form id="rename-server-form" action="javascript:rename_server()" method="POST">
                    <div class="form-group">
                        <label for="rename-server-name">Updated server name:</label>
                        <input class="form-control" id="rename-server-name" placeholder="Updated name">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-warning" onclick="rename_server();">Rename</button>
            </div>
            </div>
        </div>
    </div>

    <!-- Server list -->
    <div id="servers-section"></div>
</div>

<script>


    var current_server_chosen = "";

    $(document).ready(function() {
        // TODO: Clean up
        $("#registerNewServerModal").on("hidden.bs.modal", function(){
            $('#registering-server-name').val("");
            $("#register-new-server-alert-danger").remove();
        });

        $("#removeServerModal").on("hidden.bs.modal", function(){
            $('#remove-server-name').val("");
            $("#remove-server-alert").remove();
        });

        $("#renameServerModal").on("hidden.bs.modal", function(){
            $('#rename-server-name').val("");
            $("#rename-server-alert").remove();
        });

        $('.dropdown-toggle').dropdown();

        refresh_servers();
    });

    function save_server_name(server_id) {
        current_server_chosen = server_id.split(/-(.+)/)[1];
    }

    function remove_server() {
        if (current_server_chosen === $("#remove-server-name").val()) {
            //TODO
            var post_url = "{{ url_for('servers.remove_server', name='current_server_chosen') }}";
            post_url = post_url.replace(/current_server_chosen/, current_server_chosen);

            $.ajax({
                cache: false,
                url: post_url,
                type: "DELETE",
                dataType: "json",
                success: function(response) {
                    $("#card-"+current_server_chosen).remove();
                    $('#remove-server-name').val("");
                    $("#remove-server-alert").remove();
                    $('#removeServerModal').modal('hide');
                },
                error: function(response) {
                    // TODO
                    console.log(response);
                }
            });
            return;
        }
        show_alert( "alert alert-danger", "remove-server-alert",
                    "The server name entered doesn't match the one being deleted. Try again.",
                    "#remove-server-form");
    }

    function show_alert(alertClass, alertID, alertText, alertParent) {
        $("#"+alertID).remove();
        $("<div>").addClass(alertClass)
            .attr("role", 'alert')
            .attr("id", alertID)
            .text(alertText)
            .appendTo(alertParent);
    }

    function server_copy_url(id) {
        // TODO: pass this url from the backend
        var url_selected = "https://monitaur.neilcastelino.com/server/" + id.split("-").slice(2,7).join("-") + "/ping"
        var temp = $('<input>').val(url_selected).appendTo('body').select()
        document.execCommand("copy");
        temp.remove();
    }

    function server_copy_id(id) {
        var url_selected = id.split("-").slice(2,7).join("-")
        var temp = $('<input>').val(url_selected).appendTo('body').select()
        document.execCommand("copy");
        temp.remove();
    }

    function add_server_to_view(response) {
        var last_seen = (((Date.now()/1000)-response.last_logged))/(60);
        var border_color = last_seen > 5 ? "border-danger" : "border-success"
        var status_icon = last_seen > 5 ? '<i class="fas fa-exclamation-circle"></i>' : '<i class="fas fa-check-circle"></i>'
        var pin_html = response.pinned == 0 ? '<i class="fas fa-thumbtack"></i> Pin' : '<i class="fas fa-thumbtack"></i> Unpin'
        var pin_button = response.pinned == 0 ? 'btn btn-light' : 'btn btn-info'

        $("<div>").addClass("card server-card " + border_color)
            .attr("id", "card-"+response.name)
            .append($("<div>").addClass("card-header")
                .html(status_icon + " " + response.name)
            )
            .append($("<div>").addClass("card-body")
                .append($("<p>").addClass("card-title")
                    .text("ID: " + response.id)
                )
                .append($("<p>").addClass("card-text")
                    .text("Last seen: " + (response.last_logged == 0 ? "Never" :  last_seen + " minutes"))
                )
                .append($("<div>")
                    .addClass("btn-group")
                    .attr("role", "group")
                    .append($("<button>").addClass(pin_button)
                        .html(pin_html)
                        .attr("id", "pin-"+response.id)
                        .attr("value", response.pinned)
                        .attr("onclick", 'pin_server(this.id, this.value)') // TOOD: Figure out how to use url_for across blurprints
                    )
                    .append($("<a>").addClass("btn btn-primary")
                        .html('<i class="fas fa-info-circle"></i> More Info')
                        .attr("href", 'services/on/'+response.id) // TOOD: Figure out how to use url_for across blurprints
                    )
                    .append($("<button>")
                        .addClass("btn btn-primary dropdown-toggle")
                        .attr("id", "server-copy-"+response.id)
                        .attr("type", "button")
                        .attr("data-toggle", "dropdown")
                        .attr("aria-haspopup", "true")
                        .attr("aria-expanded", "false")
                        .html('<i class="fas fa-ellipsis-v"></i> Actions')
                    )
                    .append($("<div>")
                        .addClass("dropdown-menu")
                        .append($("<button>")
                            .attr("id", "server-copyurl-"+response.id)
                            .addClass("dropdown-item")
                            .attr("onclick", "server_copy_url(this.id)")
                            .text("Copy URL")
                        )
                        .append($("<button>")
                            .attr("id", "server-copyid-"+response.id)
                            .addClass("dropdown-item")
                            .attr("onclick", "server_copy_id(this.id)")
                            .text("Copy ID")
                        )
                        .append($("<div>")
                            .addClass("dropdown-divider")
                        )
                        .append($("<button>")
                            .attr("type", "button")
                            .attr("id", "renameServer-"+response.id)
                            .addClass("dropdown-item")
                            .attr("data-toggle", "modal")
                            .attr("data-target", "#renameServerModal")
                            .attr("onclick", 'save_server_name(this.id);')
                            .append($("<i>")
                                .addClass("fas fa-trash fa-sm")
                                .attr("aria-hidden", "true")
                            )
                            .text('Rename')
                        )
                    )
                )
                .append($("<button>")
                    .attr("type", "button")
                    .attr("id", "removeServer-"+response.name)
                    .addClass("btn btn-outline-danger btn-md float-right")
                    .attr("data-toggle", "modal")
                    .attr("data-target", "#removeServerModal")
                    .attr("onclick", 'save_server_name(this.id);')
                    .append($("<i>")
                        .addClass("fas fa-trash fa-sm")
                        .attr("aria-hidden", "true")
                    )
                    .html('<i class="fas fa-trash fa-sm" aria-hidden="true"></i> Remove')
                )
            )
            .appendTo("#servers-section");

        // ChartJS library used here
        var metrics_load = [];
        var metrics_log = [];

        $.get("/servers/"+response.id+"/metrics")
        .done(function(metrics_response) {
            var json_data = JSON.parse(metrics_response)
            $.each(json_data, function(i) {
                metrics_load.push(json_data[i].load)
                metrics_log.push(new Date(json_data[i].logged_at*1000))
            })

            if (metrics_load.length > 0) {
                $("#card-"+response.name).append($("<canvas>")
                    .attr("id", "chart-"+response.id)
                )

                var ctx = document.getElementById("chart-"+response.id).getContext('2d');

                var chart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: metrics_log,
                        datasets: [{
                            label: "Load average",
                            backgroundColor: 'rgb(255, 99, 132)',
                            borderColor: 'rgb(255, 99, 132)',
                            data: metrics_load,
                        }]
                    },
                    options: {
                        scales: {
                            xAxes: [{
                                display: false,
                                scaleLabel: { // TODO: fix
                                    display: true,
                                    labelString: "lol",
                                }
                            }],
                            yAxes: [{
                                ticks: {
                                    beginAtZero:true
                                }
                            }]
                        }
                    }
                });
            }
        })
        .fail(function(metrics_response) {
            // TODO
            console.log(metrics_response)
        })
        
    }

    function register_new_server() {
        // Make sure that the input is not empty
        if($.trim($("#registering-server-name").val()) == '') {
            show_alert( "alert alert-danger",
                        "register-new-server-alert-danger",
                        "The name field can't be empty.",
                        "#register-new-server-modal"
            );

            return;
        }

        var data = {};
        data['registering-server-name'] = $("#registering-server-name").val();

        $.ajax({
            cache: false,
            url: "{{ url_for('servers.new_server')}}",
            data: data,
            type: "POST",
            dataType: "json",
            success: function(response) {
                if(response.err != "") {
                    $("#register-new-server-alert-danger").remove();
                    $("<div>").addClass("alert alert-danger")
                        .attr("role", "alert")
                        .attr("id", "register-new-server-alert-danger")
                        .text(response.err)
                        .appendTo("#register-new-server-modal");
                } else {
                    refresh_servers(response);
                    $('#registerNewServerModal').modal('hide');
                }
            },
            error: function(error) {
                console.log(error);
                show_alert( "alert alert-danger",
                    "register-new-server-alert-danger",
                    "Server returned error.", //TODO
                    "#register-new-server-modal"
                );
            }
        });
    }

    function refresh_servers() {
        $("#servers-section").empty();

        $.ajax({
            cache: false,
            url: "{{ url_for('servers.list_servers')}}",
            type: "GET",
            dataType: "json",
            success: function(response) {
                $.each(response, function(i) {
                    add_server_to_view(response[i]);
                });
            },
            error: function(error) {
                console.log(error);

                // TODO: show error

                /*show_alert( "alert alert-danger",
                    "register-new-server-alert-danger",
                    "Server returned error.", //TODO
                    "#register-new-server-modal"
                );*/
            }
        });
    }

    function rename_server() {
        var updated_name = $("#rename-server-name").val().trim()

        if(updated_name === "") {
            show_alert( "alert alert-danger",
                        "edit-server-alert-danger",
                        "Cannot set an empty string or whitespace as a name. Try again.",
                        "#edit-server-modal"
            );
            return;
        }

        var put_url = "/servers/" + current_server_chosen.split("-").slice(0,5).join("-") + "/rename"

        $.ajax({
            url: put_url,
            type: 'PUT',
            data: {"updated_name": updated_name},
            success: function() {
                refresh_servers();
                $('#renameServerModal').modal('hide');
            },
            error: function(response) {
                show_alert( "alert alert-danger",
                        "edit-server-alert-danger",
                        "Unable to update server name. Please refresh page and try again.",
                        "#edit-server-modal"
                );
            }
        })
    }

    function pin_server(sid, status) {
        var pin_status = status == 0 ? 1 : 0
        var put_url = "/servers/" + sid.split("-").slice(1,6).join("-") + "/modpin"

        $.ajax({
            url: put_url,
            type: 'PUT',
            data: {"pin_status": pin_status},
            success: function() {
                refresh_servers();
            },
            error: function(response) {
                console.log("Failed to un/pin")
            }
        })
    }

</script>

{% endblock %}
