{% extends 'base.html' %}

{% block header %}
  {% block title %}{{server_name}} - Services{% endblock %}
{% endblock %}

{% block content %}

<div class="container-fluid">

    <!-- Tool bar -->
    <div class="row">
        <div class="col-md-6">
            <h2>{{server_name}}'s registered services</h2>
        </div>
        <div class="col-md-6">
            <div class="btn-group float-right mt-2" role="group">
                <button type="button" class="btn btn-secondary btn-md" data-toggle="modal" data-target="#registerNewServiceModal">
                    <i class="fa fa-plus fa-sm" aria-hidden="true"></i>
                    Register
                </button>
                <button type="button" class="btn btn-secondary btn-md" onclick="refresh_services();">
                    <i class="fas fa-sync fa-sm"></i>
                    Refresh
                </button>
            </div>
        </div>
    </div>

    <!-- Register new service modal -->
    <!-- TODO: Refactor this -->
    <div class="modal fade" id="registerNewServiceModal" tabindex="-1" role="dialog" aria-labelledby="registerNewServiceModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="registerNewServiceModalLabel">Register new service</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" id="register-new-service-modal">
                <form id="register-new-service-form" action="javascript:register_new_service()" method="POST">
                    <div class="form-group">
                        <label for="registering-service-name">Name</label>
                        <input class="form-control" id="registering-service-name" placeholder="Enter name">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary" onclick="register_new_service();">Save</button>
            </div>
          </div>
        </div>
    </div>

    <!-- Edit service modal -->
    <div class="modal fade" id="editServiceModal" tabindex="-1" role="dialog" aria-labelledby="editServiceModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editServiceModalLabel">Edit service</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="edit-service-modal">
                <form id="edit-service-form" action="javascript:rename_service()" method="POST">
                    <div class="form-group">
                        <label for="edit-service-name">Enter name of service</label>
                        <input class="form-control" id="edit-service-name" placeholder="Service name">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-danger mr-auto" data-dismiss="modal" onclick="remove_service();"><i class="fas fa-trash"></i> Remove</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="rename_service();"><i class="fas fa-check"></i> Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-times"></i> Close</button>
            </div>
            </div>
        </div>
    </div>

    <!-- Service list -->
    <div class="table-responsive" id="services-section">
        <table class="table table-sm table-striped table-hover">
            <thead class="">
                <th scope="col"></th>
                <th scope="col">Name</th>
                <th scope="col">ID</th>
                <th scope="col">Last seen</th>
                <th scope="col"></th> <!-- Edit button -->
                <th scope="col"></th> <!-- (Un)Pin button -->
            </thead>
            <tbody id="services-section-body">

            </tbody>
        </table>
    </div>
</div>

<script>

    var TIMEOUT = 5;
    var current_id = ""

    $(document).ready(function() {
        $("#registerNewServiceModal").on("hidden.bs.modal", function(){
            $('#registering-service-name').val("");
            $("#register-new-service-alert-danger").remove();
        });

        $("#removeServiceModal").on("hidden.bs.modal", function(){
            $('#remove-service-name').val("");
            $("#remove-service-alert").remove();
        });

        $("#editServiceModal").on("hidden.bs.modal", function(){
            $('#edit-service-name').val("");
            $("#edit-service-alert-danger").remove();
        });

        $('[data-toggle="tooltip"]').tooltip()

        refresh_services();
    });

    function show_alert(alertClass, alertID, alertText, alertParent) {
        $("#"+alertID).remove();
        $("<div>").addClass(alertClass)
            .attr("role", 'alert')
            .attr("id", alertID)
            .text(alertText)
            .appendTo(alertParent);
    }

    function service_copy_url(id) {
        // TODO: pass this url from the backend
        var url_selected = "https://monitaur.neilcastelino.com/services/" + id.split("-").slice(2,7).join("-") + "/ping"
        var temp = $('<input>').val(url_selected).appendTo('body').select()
        document.execCommand("copy");
        temp.remove();
    }

    function add_service_to_table(data) {
        var modifier = {}
        modifier['last'] = data.last_seen == 0 ? "Never" : Math.floor(((Date.now()/1000) - data.last_seen)/60) + " minutes ago"
        modifier['last_n'] = ((Date.now()/1000) - data.last_seen)/60
        modifier['status_icon'] =  modifier['last_n'] > TIMEOUT ? '<i class="fas fa-exclamation-circle"></i>' : '<i class="fas fa-check-circle"></i>'
        modifier['pin_html'] = data.pinned == 0 ? '<i class="fas fa-thumbtack"></i> Pin' : '<i class="fas fa-thumbtack"></i> Unpin'
        modifier['pin_button'] = data.pinned == 0 ? 'table-button btn btn-light btn-sm' : 'table-button btn btn-info btn-sm'

        $("<tr>")
            .attr("style", (modifier['last_n'] > TIMEOUT ? "color:red;" : "color:green;"))
            .append($("<td>").html(modifier['status_icon']))
            .append($("<td>").text(data.name))
            .append($("<td>")
                .append($("<button>")
                    .addClass("btn btn-outline-primary btn-sm")
                    .attr("id", "service-copy-"+data.id)
                    .attr("type", "button")
                    .attr("data-toggle", "tooltip")
                    .attr("data-placement", "top")
                    .attr("title", "Copy URL to clipboard")
                    .html('<i class="fas fa-copy"></i>  ')
                    .attr("onclick", 'service_copy_url(this.id);')
                )
                .append("   " + data.id)
            )
            .append($("<td>").text(modifier['last']))
            // Edit Button
            .append($("<td>")
                .append(
                    $("<div>")
                    .append($("<button>")
                        .attr("id", "service-save-"+data.id) // Do we need this?
                        .addClass("table-button btn btn-primary btn-sm")
                        .html('<i class="fas fa-cog"></i> Edit')
                        .attr("data-toggle", "modal")
                        .attr("data-target", "#editServiceModal")
                        .attr("onclick", 'save_service_details(this.id);')
                    )
                )
            )
            // (Un)Pin button
            .append($("<td>")
                .append(
                    $("<div>")
                    .append($("<button>")
                        .attr("id", "pin-"+data.id)
                        .attr("value", data.pinned)
                        .addClass(modifier['pin_button'])
                        .html(modifier['pin_html'])
                        .attr("onclick", 'pin_service(this.id, this.value);')
                    )
                )
            )
            .appendTo($("#services-section-body"))
    }

    function register_new_service() {
        // Make sure that the input is not empty
        // TODO: refactor AND fix naming (server -> service) after refactoring
        if($.trim($("#registering-service-name").val()) == '') {
            show_alert( "alert alert-danger",
                        "register-new-service-alert-danger",
                        "The name field can't be empty.",
                        "#register-new-service-modal"
            );

            return;
        }

        var data = {};
        data['registering-service-name'] = $("#registering-service-name").val(); // TODO: fix name

        var post_url = "{{url_for('services.new_service', id='server_id')}}"
        post_url = post_url.replace(/server_id/, '{{server_id}}');

        $.post(post_url, data)
            .done(function(response) {
                if(response.err != "") {
                    $("#register-new-service-alert-danger").remove();
                    $("<div>").addClass("alert alert-danger")
                        .attr("role", "alert")
                        .attr("id", "register-new-service-alert-danger")
                        .text(response.err)
                        .appendTo("#register-new-service-modal");
                } else {
                    refresh_services(response);
                    $('#registerNewServiceModal').modal('hide');
                }
            })
            .fail(function(error) {
                console.log(error);
                show_alert( "alert alert-danger",
                    "register-new-service-alert-danger",
                    "Server returned error.", //TODO
                    "#register-new-service-modal"
                );
            })
    }

    function refresh_services() {
        $("#services-section-body").empty();

        var get_url = "{{url_for('services.get_services', id='server_id')}}"
        get_url = get_url.replace(/server_id/, '{{server_id}}');

        $.get(get_url)
            .done(function(response) {
                json_data = JSON.parse(response)
                $.each(json_data, function(i) {
                    add_service_to_table(json_data[i])
                });
            })
            .fail(function(response) {
                // TODO: Something useful here
                console.log("get error")
                console.log(response)
            });
    }

    function save_service_details(sid) {
        current_id = sid
    }

    function remove_service() {
        var delete_url = "/services/" + current_id.split("-").slice(2,7).join("-") + "/remove"

        $.ajax({
            url: delete_url,
            type: 'DELETE',
            success: function() {
                refresh_services();
                $('#editServiceModal').modal('hide');
            },
            error: function(response) {
                show_alert( "alert alert-danger",
                        "edit-service-alert-danger",
                        "Unable to delete service. Please refresh page and try again.",
                        "#edit-service-modal"
                );
            }
        })
    }

    function rename_service() {
        var updated_name = $("#edit-service-name").val().trim()

        if(updated_name === "") {
            show_alert( "alert alert-danger",
                        "edit-service-alert-danger",
                        "Cannot set an empty string or whitespace as a name. Try again.",
                        "#edit-service-modal"
            );
            return;
        }

        var put_url = "/services/" + current_id.split("-").slice(2,7).join("-") + "/rename"

        $.ajax({
            url: put_url,
            type: 'PUT',
            data: {"updated_name": updated_name},
            success: function() {
                refresh_services();
                $('#editServiceModal').modal('hide');
            },
            error: function(response) {
                show_alert( "alert alert-danger",
                        "edit-service-alert-danger",
                        "Unable to update service. Please refresh page and try again.",
                        "#edit-service-modal"
                );
            }
        })
    }

    function pin_service(sid, status) {
        var pin_status = status == 0 ? 1 : 0

        var put_url = "/services/" + sid.split("-").slice(1,6).join("-") + "/modpin"

        $.ajax({
            url: put_url,
            type: 'PUT',
            data: {"pin_status": pin_status},
            success: function() {
                refresh_services();
            },
            error: function(response) {
                console.log("Failed to un/pin")
            }
        })
    }
    
</script>

{% endblock %}
